@font-face {
  font-family: 'Outfit';
  src: local('Outfit'), url(./../fonts/outfit/static/Outfit-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'young-serif';
  src: local('young-serif'), url(./../fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: hsl(30, 54%, 90%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}